<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row">
    <div class="col-8 offset-3 mt-3 mb-2" >
        <h3><%= data.title  %></h3>
    </div>

    <div class="card col-6 offset-3" >
    <img src="<%= data.image %>" class="card-img-top show-image" alt="..." >
    <div class="card-body">
    <p class="card-text "><%= data.description  %></p>
    <p class="card-text mt-1">PKR <%= data.price.toLocaleString('en-IN')  %></p>
    <p class="card-text"><%= data.location  %></p>
    <p class="card-text"><%= data.country  %></p>
    </div>
    </div>
</div>

<div class="btns ">
    <a href="/listing/<%= data._id  %>/edit" class="btn btn-dark col-1 offset-3 add-btn">Edit</a>
    <br>

    <form action="/listing/<%= data.id %>?_method=DELETE" method="post">
        <button type="submit" class="btn btn-dark ">Delete</button>
    </form>
</div>
 
    <% for(review of reviews){  %>
        <p><%= review.comment %></p>
        <p><%= review.rating %></p>
    <%}%>
<hr>
    <div class="col-8 offset-3 mt-5">
        <h4>Leave a Review</h4>
        <form action="/listing/<%= data.id  %>/reviews" method="post" novalidate  class="needs-validation">
            <div>
                <label for="rating" class="form-label">Rating</label>
                <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range" required>



                <div>
                    <label for="comment"  class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="10" class="form-control" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please write Review.
                    </div>
                </div>
                <div class="mb-3 mt-3">
                <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </div>
        </form>
    </div>

</body>
