<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit - Rommio</title>
</head>
<body>
        <form action="/listing/<%= data.id %>?_method=PUT" method="post">
        <label for="title">Give some Title
        <input type="text" name="title" id="title" placeholder="Add a Title" value="<%= data.title  %>" required>
        </label>
        <br> <br>
        <label for="title">Give some Description
        <textarea name="description" id="description" placeholder="Add Description" required><%= data.description  %></textarea></label>
        <br><br>
        <input type="text" name="image" id="Imageg
        " placeholder="Add Image URL"  value="<%= data.image  %>" required>
        <br><br>
        <input type="number" name="price" id="price" placeholder="Add some Price"  value="<%= data.price  %>" required>
        <br><br>
        <input type="text" name="location" id="location" placeholder="Add Some Location"  value="<%= data.location  %>">
        <br><br>
        <input type="text" name="country" id="country" placeholder="Add Country"  value="<%= data.country  %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>